absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cheroot==11.1.2
contourpy==1.3.3
cryptography==46.0.7
cycler==0.12.1
decorator==5.2.1
-e git+https://github.com/Hashmi-dev/DistillerPyTorch.git@c1fad0445c0a8dd8cd43ed80357dd78ef5a8e867#egg=distiller
et_xmlfile==2.0.0
etils==1.14.0
filelock==3.28.0
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2026.3.0
gcsfs==2026.3.0
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.30.3
google-auth==2.49.2
google-auth-oauthlib==1.3.1
google-cloud-core==2.5.1
google-cloud-storage==3.10.1
google-cloud-storage-control==1.11.0
google-crc32c==1.8.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
graphviz==0.21
grpc-google-iam-v1==0.14.4
grpcio==1.80.0
grpcio-status==1.80.0
gviz-api==1.10.0
gym==0.12.5
idna==3.11
jaraco.functools==4.4.0
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.8
more-itertools==11.0.2
mpmath==1.3.0
multidict==6.7.1
munch==4.0.0
networkx==3.6.1
numpy==2.4.4
oauthlib==3.3.1
openpyxl==3.1.5
packaging==26.1
pandas==3.0.2
pillow==12.2.0
pretrainedmodels==0.7.4
propcache==0.4.1
proto-plus==1.27.2
protobuf==6.33.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydot==4.0.1
pyglet==2.1.14
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.33.1
requests-oauthlib==2.0.0
scikit-learn==1.8.0
scipy==1.17.1
setuptools==81.0.0
six==1.17.0
smmap==5.0.3
sympy==1.14.0
tabulate==0.10.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboard_plugin_profile==2.22.2
threadpoolctl==3.6.0
torch==2.11.0
torchaudio==2.11.0
torchvision==0.26.0
tqdm==4.33.0
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
Werkzeug==3.1.8
xlsxwriter==3.2.9
xprof==2.22.2
yarl==1.23.0
zipp==3.23.1
